@model IEnumerable<Lanches.Web.Models.Pedido>
<br>
<br />
<p>
    <a asp-action="Create">Criar novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidoEnviado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PedidoEntregue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @item.PedidoEnviado.ToShortDateString()
            </td>
            <td>
                @item.PedidoEntregue.Value.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
