@model IEnumerable<Lanches.Web.Models.Lanche>
<br />
<br />
<p>
    <a asp-action="Create">Incluir Novo Lanche</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescricaoCurta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescricaoLonga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFavorite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmEstoque)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoLonga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagemThumbnailUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFavorite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LancheId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.LancheId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.LancheId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
